<%- include('include/page_header', { has_page_title: true, page_title: __('archive') }) %>

<div class="post post_list_container">
	<%- include('include/post_list_archive') %>
</div>

<%- include('include/pager_index') %>

<%- include('include/page_footer') %>
