<%- include('include/page_header', { has_page_title: true, page_title: page.title }) %>

<div class="post post_content_container">
	<%- include('include/post_content') %>
</div>

<%- include('include/page_footer') %>
