<div class="post post_list post_list_archive">
	<%
		var year = 0;
		page.posts.each(function(post) {
			var yearChanged = false, postYear = parseInt(date(post.date, "YYYY"));
			if(year != postYear) {
				year = postYear;
	-%>
				<h2 class="year"><%= year %></h2>
	<%
			}
	-%>
		<div class="post post_item post_item_archive">
			<%- include("post_info", { post: post }) %>
			<a class="title_link" href="<%- url_for(post.path) %>"><%= post.title %></a>
		</div>
	<% }) %>
</div>