//- LaTex
script(async src="//cdn.bootcdn.net/ajax/libs/mathjax/3.1.2/es5/loader.min.js")

//- Analytics tracking
script
	| var _hmt = _hmt || [];
	| (function() {
	|   var hm = document.createElement("script");
	|   hm.src = "https://hm.baidu.com/hm.js?65f3d3b959460c6941d7d6a797086e30";
	|   var s = document.getElementsByTagName("script")[0]; 
	|   s.parentNode.insertBefore(hm, s);
	| })();
